<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Copyright &copy; 2017 <a href="{{ path('') }}"><span class="theme-color">Webzy</span></a>. Tous droits réservés
            </div>
        </div>
    </div>
</section>
<!-- xxx Footer Content End xxx -->

<!-- xxx Back To Top xxx -->
<a href="#" class="scrollToTop img-circle">
    <i class="fa fa-angle-up"></i>
</a>